@import 'tailwindcss';
@import 'tw-animate-css';
@import './theme.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .aspect-card {
    @apply aspect-[63/88];
  }
  .font-barlow {
    font-family: var(--font-barlow);
  }
  .font-geist {
    font-family: var(--font-geist);
  }
  .font-geist-mono {
    font-family: var(--font-geist-mono);
  }
}

@layer components {
  .clip-card-domain-subtype {
    clip-path: polygon(67% 16%, 73% 49%, 66% 87%, 33% 81%, 27% 48%, 35% 16%);
  }

  .clip-card-class-subtype {
    clip-path: polygon(65% 14%, 73% 47%, 66% 89%, 35% 87%, 28% 53%, 34% 16%);
  }

  .clip-banner-bg {
    clip-path: polygon(
      91% 100%,
      91% 0,
      6% 0,
      9% 100%,
      29% 98%,
      39% 95%,
      45% 91%,
      47% 86%,
      46% 83%,
      46% 79%,
      53% 79%,
      53% 84%,
      53% 87%,
      56% 91%,
      60% 95%,
      71% 98%
    );
  }

  .clip-banner-fg {
    clip-path: polygon(
      0 0,
      11% 1%,
      11% 51%,
      17% 55%,
      18% 0,
      82% 0,
      83% 56%,
      88% 52%,
      88% 0,
      100% 1%,
      100% 58%,
      83% 69%,
      82% 90%,
      72% 90%,
      63% 88%,
      57% 85%,
      49% 82%,
      43% 85%,
      34% 88%,
      25% 90%,
      18% 90%,
      17% 68%,
      0 59%
    );
  }
}

.container {
  @apply mx-auto w-full px-4;
}
